/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  height: 100%;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 0px;
  height: 100%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media print {
  .main {
    height: auto;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

    





.lnk{
  color: #999;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.mmm{
  display: none;
}


.navbar-inverse {
    background-color: #1e142c;
    border-color: #080808;
}

html{
  background: #fcfcfc;
}
.tit{
  color:#69006d;
  font-size: 30px;
}
.pause{
  width: 50px;
  float: left;
  background: #2b1c3d;
}
.artist{
  width: 100px;
  background: #ea3ce7;
  color: #252525;
  font-size: 12px;
  font-weight: bold;
  float: left;
}
.ml{
  float: left;
  width: 2350px;
  background: #2b1c3d;
}

.ti{
  width: 50px;
  float: left;
  background: #eee;
}
.ti2{
  width: 50px;
  float: left;
  background: #ddd;
}

.ss{
  width: 150px;
  float: left;
  background: #f5f5f5;
}

.pa15{
  width: 50px;
}
.pa30{
  width: 100px;
}
.pa45{
  width: 150px;
}
.pa60{
  width: 200px;
}
.pa75{
  width: 250px;
}
.pa90{
  width: 300px;
}

.ar15{
  width: 50px;
}
.ar30{
  width: 100px;
}
.ar45{
  width: 150px;
}
.ar60{
  width: 200px;
}
.ar75{
  width: 250px;
}
.ar90{
  width: 300px;
}

.ml{
  float: left;
  width: 
}